<fieldset class="ct_white_bg">
    <div class="ct_form-card">
        <h4 class="ct_fs_24 ct_fw_700 mb-4">Credit</h4>

        <form [formGroup]="form" (ngSubmit)="submit()">
            <div formArrayName="credits">
                <div *ngFor="let credit of credits.controls; let i = index" [formGroupName]="i"
                    class="mb-4 border p-3 rounded">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group mb-4">
                                <label class="mb-2 ct_fw_600">Credit Type</label>
                                <select formControlName="credit_type" class="form-control ct_input">
                                    <option value="">Select Credit Type</option>
                                    <!-- Add more options here -->
                                    <option value="Visa">Visa</option>
                                    <option value="MasterCard">MasterCard</option>
                                    <option value="AmericanExpress">American Express</option>
                                    <option value="Other">Other</option>
                                </select>

                                <div *ngIf="credit.get('credit_type')?.touched && credit.get('credit_type')?.invalid">
                                    <small class="text-danger">Credit type is required</small>
                                </div>
                            </div>
                        </div>


                        <!-- 👇 Shown only when 'other' is selected -->
                        <div class="col-md-12" *ngIf="credit.get('credit_type')?.value == 'Other'">
                            <div class="form-group mb-4">
                                <label class="mb-2 ct_fw_600">Card Name</label>
                                <input type="text" class="form-control ct_input" formControlName="other_credit"
                                    placeholder="Enter Card Name" />

                                <div *ngIf="credit.get('other_credit')?.touched && credit.get('other_credit')?.invalid">
                                    <small class="text-danger">Card name is required</small>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group mb-4">
                                <label class="mb-2 ct_fw_600">Credit Limit</label>
                                <div class="position-relative">
                                    <input formControlName="credit_limit" type="number"
                                        class="form-control ct_input ct_input_ps_30" placeholder="0.00"
                                        (ngModelChange)="updateMonthlyPayment(credit)">
                                    <span class="ct_input_icon_left">$</span>
                                </div>
                                <div *ngIf="credit.get('credit_limit')?.touched && credit.get('credit_limit')?.invalid">
                                    <small class="text-danger">Credit Limit is required</small>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group mb-4">
                                <label class="mb-2 ct_fw_600">Debt Balance</label>
                                <div class="position-relative">
                                    <input formControlName="balance" type="number"
                                        class="form-control ct_input ct_input_ps_30" placeholder="0.00"
                                        (ngModelChange)="updateMonthlyPayment(credit)">
                                    <span class="ct_input_icon_left">$</span>
                                </div>

                                <!-- <div *ngIf="credit.get('balance')?.touched && credit.get('balance')?.invalid">
                                    <small class="text-danger">Balance is required</small>
                                </div> -->

                                <div *ngIf="credit.get('balance')?.touched && credit.get('balance')?.errors">
                                    <small class="text-danger" *ngIf="credit.get('balance')?.hasError('required')">
                                        Balance is required
                                    </small>
                                    <small class="text-danger"
                                        *ngIf="credit.get('balance')?.hasError('helocDebtExceedsLimit')">
                                        Balance cannot exceed Credit limit amount
                                    </small>
                                </div>

                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group mb-4">
                                <label class="mb-2 ct_fw_600">Annual Interest Rate (%)</label>
                                <div class="position-relative">
                                    <input formControlName="interest_rate" type="number"
                                        class="form-control ct_input ct_input_ps_30" placeholder="0.00"
                                        (ngModelChange)="updateMonthlyPayment(credit)" >
                                    <span class="ct_input_icon_left">%</span>
                                </div>
                          

                                <div
                                        *ngIf="credit.get('interest_rate')?.touched && credit.get('interest_rate')?.errors">
                                        <small class="text-danger"
                                            *ngIf="credit.get('interest_rate')?.hasError('required')">
                                            Interest rate is required
                                        </small>
                                        <small class="text-danger" *ngIf="credit.get('interest_rate')?.hasError('min')">
                                            Interest rate must be at least 0%
                                        </small>
                                        <small class="text-danger" *ngIf="credit.get('interest_rate')?.hasError('max')">
                                            Interest rate must not exceed 100%
                                        </small>
                                    </div>

                            </div>
                        </div>

                        <!-- <div class="col-md-6">
                            <div class="form-group mb-4">
                                <label for="" class="mb-2 ct_fw_600">Tenure (Months)</label>
                                <div class="position-relative">
                                    <select class="form-control ct_input ct_input_ps_30" formControlName="terms"
                                        (ngModelChange)="updateMonthlyPayment(credit)">
                                        <option value="6" selected>6</option>
                                        <option value="12">12</option>
                                        <option value="18">18</option>
                                        <option value="24">24</option>
                                        <option value="30">30</option>
                                        <option value="36">36</option>
                                    </select>
                                </div>
                            </div>
                        </div> -->

                        <div class="col-md-6">
                            <div class="form-group mb-4">
                                <label class="mb-2 ct_fw_700">Monthly Payment</label>
                                <div class="position-relative">
                                    <input formControlName="monthly_payment" type="number"
                                        class="form-control ct_input ct_input_ps_30" placeholder="0.00">
                                    <span class="ct_input_icon_left">$</span>
                                    <!-- <span class="ct_show_eye">$ 300</span> -->
                                </div>
                                <p class="ct_text_op_6 mb-0 mt-2">This amount is calculated based on interest rate.</p>
                            </div>
                        </div>

                        <!-- <div class="col-md-6 mt-3">
                            <div class="form-group mb-4">
                                <label class="mb-2 ct_fw_700">Total Payable Amount</label>
                                <div class="position-relative">
                                    <input formControlName="total_payable_amount" type="number"
                                        class="form-control ct_input ct_input_ps_30" placeholder="0.00">
                                    <span class="ct_input_icon_left">$</span>
                                    
                                </div>
                            </div>
                        </div> -->

                        <!-- Remove button only for items after the first -->
                        <div class="col-12 text-end mt-2" *ngIf="i > 0">
                            <button type="button" class="btn btn-danger btn-sm"
                                (click)="removeCredit(i)">Remove</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex align-items-center gap-3 mb-4">
                <button type="button" class="ct_outline_btn ct_btn_h_48 ct_border_radius_5" (click)="addCredit()">+ Add
                    Credit</button>
            </div>

        </form>
    </div>
    <button type="button" name="next" class="ct_form_next action-button ct_blue_btn float-end ms-2 ct_border_radius_5"
        (click)="submit()">Save
        & Next</button>
    <button type="button" name="previous" (click)="back()"
        class="previous action-button-previou ct_outline_btn float-end ct_border_radius_5">Back</button>
</fieldset>

<div class="ct_loader_main" *ngIf="loading">
    <div class="loader-1">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
    </div>
</div>