<fieldset class="ct_white_bg">
    <div class="ct_form-card">
        <h4 class="ct_fs_24 ct_fw_700 mb-4">Monthly Expenses</h4>
        <div>
            <!-- <div class="row">
                <div class="col-xl-6 mb-4">
                    <div class="ct_case_select_card h-100">
                        <div class="ct_grid_2_100">
                            <div class="d-flex align-items-center gap-3 ct_flex_1">
                                <p class="mb-0 ct_line_h_27">Food</p>
                            </div>
                            <div>
                                <input type="Number" class="form-control ct_input  ct_h_40" style="height: 30px;"
                                    placeholder="0.00">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 mb-4">
                    <div class="ct_case_select_card h-100">
                        <div class="ct_grid_2_100">
                            <div class="d-flex align-items-center gap-3 ct_flex_1">

                                <p class="mb-0 ct_line_h_27"> Clothing/Personal Items 
                                </p>
                            </div>
                            <div>
                                <input type="Number" class="form-control ct_input  ct_h_40" style="height: 30px;"
                                    placeholder="0.00">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 mb-4">
                    <div class="ct_case_select_card h-100">
                        <div class="ct_grid_2_100">
                            <div class="d-flex align-items-center gap-3 ct_flex_1">

                                <p class="mb-0 ct_line_h_27"> Entertainment
                                </p>
                            </div>
                            <div>
                                <input type="Number" class="form-control ct_input  ct_h_40" style="height: 30px;"
                                    placeholder="0.00">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 mb-4">
                    <div class="ct_case_select_card h-100">
                        <div class="ct_grid_2_100">
                            <div class="d-flex align-items-center gap-3 ct_flex_1">

                                <p class="mb-0 ct_line_h_27"> Travel 
                                </p>
                            </div>
                            <div>
                                <input type="Number" class="form-control ct_input  ct_h_40" style="height: 30px;"
                                    placeholder="0.00">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 mb-4">
                    <div class="ct_case_select_card h-100">
                        <div class="ct_grid_2_100">
                            <div class="d-flex align-items-center gap-3 ct_flex_1">

                                <p class="mb-0 ct_line_h_27"> Fees & Education
                                </p>
                            </div>
                            <div>
                                <input type="Number" class="form-control ct_input  ct_h_40" style="height: 30px;"
                                    placeholder="0.00">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 mb-4">
                    <div class="ct_case_select_card h-100">
                        <div class="ct_grid_2_100">
                            <div class="d-flex align-items-center gap-3 ct_flex_1">

                                <p class="mb-0 ct_line_h_27"> Term Life Insurance
                                </p>
                            </div>
                            <div>
                                <input type="Number" class="form-control ct_input  ct_h_40" style="height: 30px;"
                                    placeholder="0.00">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 mb-4">
                    <div class="ct_case_select_card h-100">
                        <div class="ct_grid_2_100">
                            <div class="d-flex align-items-center gap-3 ct_flex_1">

                                <p class="mb-0 ct_line_h_27"> DI/CI Insurance 
                                </p>
                            </div>
                            <div>
                                <input type="Number" class="form-control ct_input  ct_h_40" style="height: 30px;"
                                    placeholder="0.00">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 mb-4">
                    <div class="ct_case_select_card h-100">
                        <div class="ct_grid_2_100">
                            <div class="d-flex align-items-center gap-3 ct_flex_1">

                                <p class="mb-0 ct_line_h_27"> Health/Gym Fees
                                </p>
                            </div>
                            <div>
                                <input type="Number" class="form-control ct_input  ct_h_40" style="height: 30px;"
                                    placeholder="0.00">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 mb-4">
                    <div class="ct_case_select_card h-100">
                        <div class="ct_grid_2_100">
                            <div class="d-flex align-items-center gap-3 ct_flex_1">

                                <p class="mb-0 ct_line_h_27"> Kids Activities/Sports 
                                </p>
                            </div>
                            <div>
                                <input type="Number" class="form-control ct_input  ct_h_40" style="height: 30px;"
                                    placeholder="0.00">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 mb-4">
                    <div class="ct_case_select_card h-100">
                        <div class="ct_grid_2_100">
                            <div class="d-flex align-items-center gap-3 ct_flex_1">

                                <p class="mb-0 ct_line_h_27">Day Care
                                </p>
                            </div>
                            <div>
                                <input type="Number" class="form-control ct_input  ct_h_40" style="height: 30px;"
                                    placeholder="0.00">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 mb-4">
                    <div class="ct_case_select_card h-100">
                        <div class="ct_grid_2_100">
                            <div class="d-flex align-items-center gap-3 ct_flex_1">

                                <p class="mb-0 ct_line_h_27">Child Support
                                </p>
                            </div>
                            <div>
                                <input type="Number" class="form-control ct_input  ct_h_40" style="height: 30px;"
                                    placeholder="0.00">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 mb-4">
                    <div class="ct_case_select_card h-100">
                        <div class="ct_grid_2_100">
                            <div class="d-flex align-items-center gap-3 ct_flex_1">

                                <p class="mb-0 ct_line_h_27">Vehicle Insurance
                                </p>
                            </div>
                            <div>
                                <input type="Number" class="form-control ct_input  ct_h_40" style="height: 30px;"
                                    placeholder="0.00">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 mb-4">
                    <div class="ct_case_select_card h-100">
                        <div class="ct_grid_2_100">
                            <div class="d-flex align-items-center gap-3 ct_flex_1">

                                <p class="mb-0 ct_line_h_27">Vehicle Gas
                                </p>
                            </div>
                            <div>
                                <input type="Number" class="form-control ct_input  ct_h_40" style="height: 30px;"
                                    placeholder="0.00">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 mb-4">
                    <div class="ct_case_select_card h-100">
                        <div class="ct_grid_2_100">
                            <div class="d-flex align-items-center gap-3 ct_flex_1">

                                <p class="mb-0 ct_line_h_27">Vehicle Maintenance
                                </p>
                            </div>
                            <div>
                                <input type="Number" class="form-control ct_input  ct_h_40" style="height: 30px;"
                                    placeholder="0.00">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 mb-4">
                    <div class="ct_case_select_card h-100">
                        <div class="ct_grid_2_100">
                            <div class="d-flex align-items-center gap-3 ct_flex_1">

                                <p class="mb-0 ct_line_h_27">Vehicle Leases 
                                </p>
                            </div>
                            <div>
                                <input type="Number" class="form-control ct_input  ct_h_40" style="height: 30px;"
                                    placeholder="0.00">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 mb-4">
                    <div class="ct_case_select_card h-100">
                        <div class="ct_grid_2_100">
                            <div class="d-flex align-items-center gap-3 ct_flex_1">

                                <p class="mb-0 ct_line_h_27">Tax Installment
                                </p>
                            </div>
                            <div>
                                <input type="Number" class="form-control ct_input  ct_h_40" style="height: 30px;"
                                    placeholder="0.00">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 mb-4">
                    <div class="ct_case_select_card h-100">
                        <div class="ct_grid_2_100">
                            <div class="d-flex align-items-center gap-3 ct_flex_1">

                                <p class="mb-0 ct_line_h_27">Additional Expenses 
                                </p>
                            </div>
                            <div>
                                <input type="Number" class="form-control ct_input  ct_h_40" style="height: 30px;"
                                    placeholder="0.00">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 mb-4">
                    <div class="ct_case_select_card h-100">
                        <div class="ct_grid_2_100">
                            <div class="d-flex align-items-center gap-3 ct_flex_1">

                                <p class="mb-0 ct_line_h_27">Other
                                </p>
                            </div>
                            <div>
                                <input type="Number" class="form-control ct_input  ct_h_40" style="height: 30px;"
                                    placeholder="0.00">
                            </div>
                        </div>
                    </div>
                </div>

            </div> -->

            <form [formGroup]="form">
                <div formArrayName="expenses" class="row">
                    <div class="col-xl-6 mb-4" *ngFor="let expense of expenses.controls; let i = index"
                        [formGroupName]="i">
                        <div class="ct_case_select_card h-100">
                            <div class="ct_grid_2_100">
                                <div class="d-flex align-items-center gap-3 ct_flex_1">
                                    <input *ngIf="i >= defaultExpenses.length" formControlName="label" type="text"
                                        class="form-control ct_input ct_h_40" placeholder="Custom Expense Name" />
                                    <p class="mb-0 ct_line_h_27" *ngIf="i < defaultExpenses.length">
                                        {{ expense.get('label')?.value }}
                                    </p>
                                </div>
                                <div class="d-flex align-items-center gap-2">
                                    <input type="number" formControlName="amount" class="form-control ct_input ct_h_40"
                                        style="height: 30px" placeholder="0.00" />
                                    <button type="button" class="btn btn-sm btn-danger" (click)="removeExpense(i)"
                                        *ngIf="i >= defaultExpenses.length">
                                        ✕
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </form>


        </div>

        <!-- <div class="d-flex align-items-center gap-3 mb-4">
            <button class="ct_outline_btn ct_btn_h_48 ct_border_radius_5" (click)="addCustomExpense()">+ Add Custom
                Expense</button>
        </div> -->

    </div>
    <button type="button" name="next" class="ct_form_next action-button ct_blue_btn float-end ms-2 ct_border_radius_5"
        (click)="submit()">Save
        & Next</button>
    <button type="button" name="previous" routerLink="/user/loan-calculator/investment"
        class="previous action-button-previou ct_outline_btn float-end ct_border_radius_5">Back</button>
</fieldset>