<fieldset class="ct_white_bg">
    <div class="ct_form-card">
        <p class="ct_fs_20 ct_fw_600 mb-3">Please select the type of case you're
            creating.
            This will help us customize
            the calculator steps for your client.</p>

        <div class="row">
            <div class="col-md-6 mb-4" *ngFor="let option of caseOptions" style="cursor: pointer;">
                <div class="ct_case_select_card" [class.active]="selectedCaseType === option.id"
                    (click)="selectCase(option.id)">
                    <!-- <div [innerHTML]="option.svg" class="case-icon"></div> -->
                    <img [src]="option.svg" alt="">

                    <div class="mt-2">
                        <h4 class="ct_fs_20 ct_fw_600 mb-1">{{ option.title }}</h4>
                        <p class="mb-0 ct_text_op_07">{{ option.description }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <button type="button" name="next" class="ct_form_next action-button ct_blue_btn float-end ms-2 ct_border_radius_5"
        (click)="submitCase()">Start
        with selected case</button>
    <button type="button" name="previous" [routerLink]="['/user/loan-calculator']"
        [queryParams]="{ caseName: caseName, name: name }"
        class="previous action-button-previou ct_outline_btn float-end ct_border_radius_5">Back</button>
</fieldset>

<div class="ct_loader_main" *ngIf="loading">
    <div class="loader-1">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
    </div>
</div>