<fieldset class="ct_white_bg">
    <div class="ct_form-card">
        <p class="ct_fs_20 ct_fw_600 mb-3">Please select the type of case you're
            creating.
            This will help us customize
            the calculator steps for your client.</p>
        <!-- <div class="row">
            <div class="col-md-6 mb-4">
                <div class="ct_case_select_card active">
                    <svg width="33" height="32" viewBox="0 0 33 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <mask id="mask0_204_2247" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0"
                            width="33" height="32">
                            <path d="M0.650391 0H32.6504V32H0.650391V0Z" fill="white" />
                        </mask>
                        <g mask="url(#mask0_204_2247)">
                            <mask id="mask1_204_2247" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0"
                                width="33" height="32">
                                <path d="M0.650391 0H32.6504V32H0.650391V0Z" fill="white" />
                            </mask>
                            <g mask="url(#mask1_204_2247)">
                                <path
                                    d="M13.9836 26.6667V18.6667H19.3169V26.6667H25.9836V16H29.9836L16.6502 4L3.31689 16H7.31689V26.6667H13.9836Z"
                                    fill="#5086FF" />
                            </g>
                        </g>
                    </svg>
                    <div class="mt-2">
                        <h4 class="ct_fs_20 ct_fw_600 mb-1">Mortgage</h4>
                        <p class="mb-0 ct_text_op_07">A property with a mortgage</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="ct_case_select_card ">
                    <svg width="33" height="32" viewBox="0 0 33 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <mask id="mask0_204_2262" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0"
                            width="33" height="32">
                            <path d="M0.650391 0H32.6504V32H0.650391V0Z" fill="white" />
                        </mask>
                        <g mask="url(#mask0_204_2262)">
                            <mask id="mask1_204_2262" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0"
                                width="33" height="32">
                                <path d="M0.650391 0H32.6504V32H0.650391V0Z" fill="white" />
                            </mask>
                            <g mask="url(#mask1_204_2262)">
                                <path
                                    d="M5.98405 13.332H9.98405V22.6653H5.98405V13.332ZM14.6507 13.332H18.6507V22.6653H14.6507V13.332ZM3.31738 25.332H29.9841V29.332H3.31738V25.332ZM23.3174 13.332H27.3174V22.6653H23.3174V13.332ZM16.6507 1.33203L3.31738 7.9987V10.6654H29.9841V7.9987L16.6507 1.33203Z"
                                    fill="#5086FF" />
                            </g>
                        </g>
                    </svg>
                    <div class="mt-2">
                        <h4 class="ct_fs_20 ct_fw_600 mb-1">Mortgage + HELOC</h4>
                        <p class="mb-0 ct_text_op_07">Mortgage plus a HELOC</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="ct_case_select_card ">
                    <svg width="33" height="32" viewBox="0 0 33 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_204_2277)">
                            <mask id="mask0_204_2277" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0"
                                width="33" height="32">
                                <path d="M0.650391 0H32.6504V32H0.650391V0Z" fill="white" />
                            </mask>
                            <g mask="url(#mask0_204_2277)">
                                <mask id="mask1_204_2277" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0"
                                    y="0" width="33" height="32">
                                    <path d="M0.650391 0H32.6504V32H0.650391V0Z" fill="white" />
                                </mask>
                                <g mask="url(#mask1_204_2277)">
                                    <path
                                        d="M23.3171 14.6667V4H9.98372V9.33333H4.65039V28H15.3171V22.6667H17.9837V28H28.6504V14.6667H23.3171ZM9.98372 25.3333H7.31706V22.6667H9.98372V25.3333ZM9.98372 20H7.31706V17.3333H9.98372V20ZM9.98372 14.6667H7.31706V12H9.98372V14.6667ZM15.3171 20H12.6504V17.3333H15.3171V20ZM15.3171 14.6667H12.6504V12H15.3171V14.6667ZM15.3171 9.33333H12.6504V6.66667H15.3171V9.33333ZM20.6504 20H17.9837V17.3333H20.6504V20ZM20.6504 14.6667H17.9837V12H20.6504V14.6667ZM20.6504 9.33333H17.9837V6.66667H20.6504V9.33333ZM25.9837 25.3333H23.3171V22.6667H25.9837V25.3333ZM25.9837 20H23.3171V17.3333H25.9837V20Z"
                                        fill="#5086FF" />
                                </g>
                            </g>
                        </g>
                        <defs>
                            <clipPath id="clip0_204_2277">
                                <rect width="32" height="32" fill="white" transform="translate(0.650391)" />
                            </clipPath>
                        </defs>
                    </svg>
                    <div class="mt-2">
                        <h4 class="ct_fs_20 ct_fw_600 mb-1">Property, No Mortgage</h4>
                        <p class="mb-0 ct_text_op_07">Fully owned property</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="ct_case_select_card ">
                    <svg width="33" height="32" viewBox="0 0 33 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <mask id="mask0_204_2247" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0"
                            width="33" height="32">
                            <path d="M0.650391 0H32.6504V32H0.650391V0Z" fill="white" />
                        </mask>
                        <g mask="url(#mask0_204_2247)">
                            <mask id="mask1_204_2247" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0"
                                width="33" height="32">
                                <path d="M0.650391 0H32.6504V32H0.650391V0Z" fill="white" />
                            </mask>
                            <g mask="url(#mask1_204_2247)">
                                <path
                                    d="M13.9836 26.6667V18.6667H19.3169V26.6667H25.9836V16H29.9836L16.6502 4L3.31689 16H7.31689V26.6667H13.9836Z"
                                    fill="#5086FF" />
                            </g>
                        </g>
                    </svg>
                    <div class="mt-2">
                        <h4 class="ct_fs_20 ct_fw_600 mb-1">No Property</h4>
                        <p class="mb-0 ct_text_op_07">Renting or no real estate</p>
                    </div>
                </div>
            </div>
        </div> -->

        <div class="row">
            <div class="col-md-6 mb-4" *ngFor="let option of caseOptions" style="cursor: pointer;">
                <div class="ct_case_select_card" [class.active]="selectedCaseType === option.id"
                    (click)="selectCase(option.id)">
                    <!-- <div [innerHTML]="option.svg" class="case-icon"></div> -->
                    <img [src]="option.svg" alt="">

                    <div class="mt-2">
                        <h4 class="ct_fs_20 ct_fw_600 mb-1">{{ option.title }}</h4>
                        <p class="mb-0 ct_text_op_07">{{ option.description }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <button type="button" name="next" class="ct_form_next action-button ct_blue_btn float-end ms-2 ct_border_radius_5"
        (click)="submitCase()">Start
        with selected case</button>
    <button type="button" name="previous" [routerLink]="['/user/loan-calculator']"
        [queryParams]="{ caseName: caseName, name: name }"
        class="previous action-button-previou ct_outline_btn float-end ct_border_radius_5">Back</button>
</fieldset>

<div class="ct_loader_main" *ngIf="loading">
    <div class="loader-1">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
    </div>
</div>