<fieldset class="ct_white_bg">
    <div class="ct_form-card">
        <h4 class="ct_fs_24 ct_fw_700 mb-4">Loans</h4>

        <form [formGroup]="form" (ngSubmit)="submit()">
            <div formArrayName="loans">
                <div *ngFor="let loan of loans.controls; let i = index" [formGroupName]="i"
                    class="mb-4 border p-3 rounded">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group mb-4">
                                <label class="mb-2 ct_fw_600">Loan Name</label>
                                <input formControlName="loan_name" type="text" class="form-control ct_input"
                                    placeholder="Enter Loan Name">

                                <div *ngIf="loan.get('loan_name')?.touched && loan.get('loan_name')?.invalid">
                                    <small class="text-danger">Loan name is required</small>
                                </div>

                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group mb-4">
                                <label class="mb-2 ct_fw_600">Financed Amount</label>
                                <div class="position-relative">
                                    <input formControlName="financed_amount" type="number"
                                        class="form-control ct_input ct_input_ps_30" placeholder="0.00">
                                    <span class="ct_input_icon_left">$</span>
                                </div>

                                <div
                                    *ngIf="loan.get('financed_amount')?.touched && loan.get('financed_amount')?.invalid">
                                    <small class="text-danger">Financed amount is required</small>
                                </div>

                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group mb-4">
                                <label class="mb-2 ct_fw_600">Start Date</label>
                                <input formControlName="start_date" type="date" class="form-control ct_input">

                                <div *ngIf="loan.get('start_date')?.touched && loan.get('start_date')?.invalid">
                                    <small class="text-danger">Start date is required</small>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group mb-4">
                                <!-- <label class="mb-2 ct_fw_600">Term (Years)</label>
                                <select formControlName="terms" class="form-control ct_input">
                                    <option value="">Select</option>
                                    <option value="5">5</option>
                                    <option value="10">10</option>
                                    <option value="15">15</option>
                                    <option value="20">20</option>
                                    <option value="25">25</option>
                                    <option value="30">30</option>
                                </select> -->
                                <label for="" class="mb-2 ct_fw_600">Loan Length (Months)</label>
                                <input formControlName="terms" type="number" class="form-control"
                                    placeholder="Loan Length " />

                                <div *ngIf="loan.get('terms')?.touched && loan.get('terms')?.invalid">
                                    <small class="text-danger">Terms is required</small>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group mb-4">
                                <label class="mb-2 ct_fw_600">Interest Rate (%)</label>
                                <div class="position-relative">
                                    <div class="position-relative">
                                        <input formControlName="interest_rate" type="number"
                                            class="form-control ct_input ct_input_ps_30" placeholder="0.00">
                                        <span class="ct_input_icon_left">%</span>
                                    </div>


                                    <div
                                        *ngIf="loan.get('interest_rate')?.touched && loan.get('interest_rate')?.invalid">
                                        <small class="text-danger">Interest rate is required</small>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group mb-4">
                                <label class="mb-2 ct_fw_600">Current Balance</label>
                                <input formControlName="current_balance" type="number" class="form-control ct_input"
                                    placeholder="Current Balance">
                                <!-- <div
                                    *ngIf="loan.get('current_balance')?.touched && loan.get('current_balance')?.invalid">
                                    <small class="text-danger">Current balance is required</small>
                                </div> -->
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group mb-4">
                                <label class="mb-2 ct_fw_600">Monthly EMI</label>
                                <input formControlName="monthly_emi" type="number" class="form-control ct_input"
                                    placeholder="Monthly EMI">
                                <!-- <div *ngIf="loan.get('monthly_emi')?.touched && loan.get('monthly_emi')?.invalid">
                                    <small class="text-danger">Monthly emi is required</small>
                                </div> -->
                            </div>
                        </div>

                        <!-- Remove button (hidden for first item) -->
                        <div class="col-12 text-end mt-2" *ngIf="i > 0">
                            <button type="button" class="btn btn-danger btn-sm" (click)="removeLoan(i)">Remove</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>


        <div class="d-flex align-items-center gap-3 mb-4">
            <button class="ct_outline_btn ct_btn_h_48 ct_border_radius_5" (click)="addLoan()">+ Add
                Loan</button>
        </div>

    </div>
    <button type="button" name="next" (click)="submit()"
        class="ct_form_next action-button ct_blue_btn float-end ms-2 ct_border_radius_5">Save
        & Next</button>
    <button type="button" name="previous" routerLink="/user/loan-calculator/credit-details"
        class="previous action-button-previou ct_outline_btn float-end ct_border_radius_5">Back</button>
</fieldset>

<div class="ct_loader_main" *ngIf="loading">
    <div class="loader-1">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
    </div>
</div>