<fieldset class="ct_white_bg">
    <div class="ct_form-card">

        <div class=" ">
            <div class="mb-4 d-flex align-items-center gap-3 justify-content-between ct_flex_column_575 ct_w_100_575">
                <h4 class="ct_fs_24 ct_fw_700 mb-0 ">Loan Comparison</h4>
                <div class="ct_w_100_575">
                    <button class="ct_blue_btn ct_btn_h_48 ct_w_100_575"><img src="assets/img/download_icon.png"
                            class="me-1" alt="">Download</button>
                </div>
            </div>
            <div class="table-responsive ct_custom_table">
                <table class="table">
                    <thead>
                        <tr>
                            <th>S.No</th>
                            <th>Loan Name</th>
                            <th>Terms</th>
                            <th>EMI</th>
                            <th>Start Date</th>
                            <th class="text-end">Interest Rate</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of apiLoanData; let i = index">
                            <td>{{i+1}}</td>
                            <td>{{item.loan_name}}</td>
                            <td>
                                {{item.terms}} Months
                            </td>
                            <td>${{item.monthly_emi}}</td>
                            <td>{{item.start_date | date:'dd-MM-yyyy'}}</td>
                            <td class="text-end">
                                {{item.interest_rate}}%
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="ct_mt_30 ct_case_select_card mb-4">
            <h4 class="ct_fs_24 ct_fw_700 ">Monthly Outflow Comparison</h4>
            <!-- <div id="ct_bugget_summary"></div> -->

            <div style="text-align:center">
                <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [xaxis]="chartOptions.xaxis"
                    [title]="chartOptions.title"></apx-chart>
            </div>

        </div>
    </div>
    <button type="button" name="next" routerLink="/user/loan-calculator/policies"
        class="ct_form_next action-button ct_blue_btn float-end ms-2 ct_border_radius_5">Save
        & Next</button>
    <button type="button" name="previous" routerLink="/user/loan-calculator/expense-reduction"
        class="previous action-button-previou ct_outline_btn float-end ct_border_radius_5">Back</button>
</fieldset>