<section class="ct_login_bg">
    <div class="ct_login_overlay_images">
        <img src="assets/img/logn_overaly_1.png" alt="">
        <img src="assets/img/logn_overaly_2.png" alt="">
        <img src="assets/img/logn_overaly_3.png" alt="">
        <img src="assets/img/logn_overaly_4.png" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xxl-5 col-xl-6 col-lg-6 mx-auto">
                <div class="ct_login_form">
                    <div class="text-center">
                        <h4 class="ct_fs_32 ct_fw_700">Set Your Password</h4>
                        <p class="mb-0"> Please create a new password to activate your account.</p>
                    </div>
                    <form [formGroup]="form" class="ct_mt_30">

                        <div class="form-group mb-4">
                            <label for="" class="mb-2 ct_fw_600">New Password</label>
                            <div class="position-relative">
                                <input type="{{ isPasswordVisible2 ? 'text' : 'password' }}"
                                    placeholder="Enter New Password" class="form-control ct_input ct_input_pe_40"
                                    formControlName="new_password">
                                <i class="fa-regular ct_show_eye"
                                    [ngClass]="isPasswordVisible2 ? 'fa-eye' : 'fa-eye-slash' "
                                    (click)="togglePasswordVisibility2()"></i>
                            </div>

                            <div class="err_msg"
                                *ngIf="form.controls['new_password']?.invalid && form.controls['new_password']?.touched">

                                <div *ngIf="form.controls['new_password'].errors?.['required']; else checkMinLength">
                                    New password is required.
                                </div>

                                <ng-template #checkMinLength>
                                    <div *ngIf="form.controls['new_password'].errors?.['minlength'];">
                                        New password must be at least 8 characters long.
                                    </div>
                                </ng-template>

                                <!-- <ng-template #checkPattern>
                                            <div *ngIf="form.controls['new_password'].errors?.['pattern']">
                                                New password must include at least 1 lowercase letter, 1 uppercase
                                                letter, 1
                                                number, and 1 special character.
                                            </div>
                                        </ng-template> -->

                            </div>

                        </div>
                        <div class="form-group mb-4">
                            <label for="" class="mb-2 ct_fw_600">Confirm Password</label>
                            <div class="position-relative">
                                <input type="{{ isPasswordVisible3 ? 'text' : 'password' }}"
                                    placeholder="Enter Confirm Password" class="form-control ct_input ct_input_pe_40"
                                    formControlName="confirm_password">
                                <i class="fa-regular ct_show_eye"
                                    [ngClass]="isPasswordVisible3 ? 'fa-eye' : 'fa-eye-slash' "
                                    (click)="togglePasswordVisibility3()"></i>
                            </div>
                            <div *ngIf="form.controls['confirm_password']?.invalid && form.controls['confirm_password'].touched"
                                class="err_msg">
                                <div *ngIf="form.controls['confirm_password'].errors?.['required']">
                                    Confirm password is required.</div>
                                <div
                                    *ngIf="passwordMismatch && !form.controls['confirm_password'].errors?.['required']">
                                    Passwords do not match.</div>
                            </div>
                        </div>

                        <div class="mt-5" (click)="submitForm()">
                            <a href="javascript:void(0)" class="ct_blue_btn w-100 ct_fw_600">
                                Set Password & Log In
                            </a>
                        </div>

                    </form>

                </div>
            </div>
        </div>

    </div>

</section>

<div class="ct_loader_main" *ngIf="loading">
    <div class="loader-1">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
    </div>
</div>