<div class="ct_right_panel">
    <div class="ct_px_30 mt-4 pb-4">
        <div class="container-fluid">
            <div class="ct_inner_header_bg mt-4  mb-4">
                <h4 class="ct_fs_28 ct_fw_700 mb-0 ct_black_text">Compared Loans</h4>
            </div>

            <div class="row ">
                <div class="col-md-12">
                    <div class="table-responsive ct_custom_table">
                        <table class="table ">
                            <thead>
                                <tr>

                                    <th>S.No</th>
                                    <th>Agent Name</th>
                                    <th>Client Name</th>
                                    <th>Case Name</th>
                                    <th>Loans Compared</th>
                                    <th>Compared On</th>
                                    <th class="text-end">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>

                                    <td>1</td>
                                    <td>John Doe</td>
                                    <td>
                                        <span class="ct_overlay_text">Jane Cooper</span>
                                    </td>
                                    <td>
                                        <span class="ct_overlay_text">IBC Financial Case</span>
                                    </td>
                                    <td>
                                        3
                                    </td>
                                    <td>May 12, 2025</td>

                                    <td>
                                        <div class="d-flex align-items-center gap-3 justify-content-end">
                                            <a class="ct_blue_text"><i
                                                    class="fa-regular fa-eye"></i></a>

                                        </div>
                                    </td>
                                </tr>




                            </tbody>


                        </table>
                    </div>

                </div>

            </div>


        </div>
    </div>



</div>