<header>
    <div class="d-flex align-items-center gap-2">
        <i class="fa-solid fa-bars me-3 ct_fs_18 ct_menu_bar" (click)="toggleMenu()"></i>
        <h4 class="ct_fs_22 ct_fw_700 mb-0 d-none d-sm-block">Welcome back, {{first_name}}!</h4>
    </div>
    <div class="d-flex align-items-center gap-3">
        <div class="ct_border_right_1">
            <!-- <a href="javascript:void(0)" class="ct_notification_icon" (click)="toggleDropdown($event)">
                <svg width="27" height="26" viewBox="0 0 27 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M10.9404 5.41667C10.9404 4.22005 11.9105 3.25 13.1071 3.25C14.3037 3.25 15.2738 4.22005 15.2738 5.41667C17.8089 6.61543 19.4756 9.11543 19.6071 11.9167V15.1667C19.7724 16.5325 20.5766 17.7387 21.7738 18.4167H4.44043C5.63764 17.7387 6.44176 16.5325 6.6071 15.1667V11.9167C6.73858 9.11543 8.40525 6.61543 10.9404 5.41667"
                        stroke="#777777" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    <path
                        d="M10.9404 5.41667C10.9404 4.22005 11.9105 3.25 13.1071 3.25C14.3037 3.25 15.2738 4.22005 15.2738 5.41667C17.8089 6.61543 19.4756 9.11543 19.6071 11.9167V15.1667C19.7724 16.5325 20.5766 17.7387 21.7738 18.4167H4.44043C5.63764 17.7387 6.44176 16.5325 6.6071 15.1667V11.9167C6.73858 9.11543 8.40525 6.61543 10.9404 5.41667"
                        stroke="white" stroke-opacity="0.2" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                    <path
                        d="M9.85693 18.416V19.4993C9.85693 21.2943 11.312 22.7493 13.1069 22.7493C14.9019 22.7493 16.3569 21.2943 16.3569 19.4993V18.416"
                        stroke="#777777" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    <path
                        d="M9.85693 18.416V19.4993C9.85693 21.2943 11.312 22.7493 13.1069 22.7493C14.9019 22.7493 16.3569 21.2943 16.3569 19.4993V18.416"
                        stroke="white" stroke-opacity="0.2" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                </svg>
                <span>4</span>
            </a> -->
            <!-- add this class ct_notification_active when click on bell icon  -->
            <div class="ct_notification_custom_dropdown pe-0" [class.ct_notification_active]="dropdownOpen">
                <div class="d-flex align-items-center justify-content-between gap-2 mb-3 pe-3">
                    <p class="mb-0 ct_fw_700 ct_fs_18">Notifications(4)</p>
                    <div class="ct_dlt_all_12 ng-star-inserted"><button><i class="fa-solid fa-trash-can"></i>Delete
                            All</button></div>
                </div>
                <ul class="ct_notification_scroll ct_custom_scroll pe-3">
                    <li>
                        <div class="d-flex justify-content-between " style="cursor: pointer;">
                            <div tabindex="0">
                                <!-- <h5 class="ct_fs_16 ct_fw_700 mb-1">New User Registered</h5> -->
                                <p class="mb-0 ct_fs_14">A new user, John Doe, has successfully registered
                                    on the platform.</p>
                                <small class="ct_fw_500">25-04-25 at 11:27</small>
                            </div>
                            <span class="ct_fw_700 ct_cursor_pointer">x</span>
                        </div>
                    </li>
                    <li>
                        <div class="d-flex justify-content-between " style="cursor: pointer;">
                            <div tabindex="0">
                                <!-- <h5 class="ct_fs_16 ct_fw_700 mb-1">New User Registered</h5> -->
                                <p class="mb-0 ct_fs_14">A new user, John Doe, has successfully registered
                                    on the platform.</p>
                                <small class="ct_fw_500">25-04-25 at 11:27</small>
                            </div>
                            <span class="ct_fw_700 ct_cursor_pointer">x</span>
                        </div>
                    </li>
                    <li>
                        <div class="d-flex justify-content-between " style="cursor: pointer;">
                            <div tabindex="0">
                                <!-- <h5 class="ct_fs_16 ct_fw_700 mb-1">New User Registered</h5> -->
                                <p class="mb-0 ct_fs_14">A new user, John Doe, has successfully registered
                                    on the platform.</p>
                                <small class="ct_fw_500">25-04-25 at 11:27</small>
                            </div>
                            <span class="ct_fw_700 ct_cursor_pointer">x</span>
                        </div>
                    </li>
                    <li>
                        <div class="d-flex justify-content-between " style="cursor: pointer;">
                            <div tabindex="0">
                                <!-- <h5 class="ct_fs_16 ct_fw_700 mb-1">New User Registered</h5> -->
                                <p class="mb-0 ct_fs_14">A new user, John Doe, has successfully registered
                                    on the platform.</p>
                                <small class="ct_fw_500">25-04-25 at 11:27</small>
                            </div>
                            <span class="ct_fw_700 ct_cursor_pointer">x</span>
                        </div>
                    </li>
                    <li>
                        <div class="d-flex justify-content-between " style="cursor: pointer;">
                            <div tabindex="0">
                                <!-- <h5 class="ct_fs_16 ct_fw_700 mb-1">New User Registered</h5> -->
                                <p class="mb-0 ct_fs_14">A new user, John Doe, has successfully registered
                                    on the platform.</p>
                                <small class="ct_fw_500">25-04-25 at 11:27</small>
                            </div>
                            <span class="ct_fw_700 ct_cursor_pointer">x</span>
                        </div>
                    </li>
                    <li>
                        <div class="d-flex justify-content-between " style="cursor: pointer;">
                            <div tabindex="0">
                                <!-- <h5 class="ct_fs_16 ct_fw_700 mb-1">New User Registered</h5> -->
                                <p class="mb-0 ct_fs_14">A new user, John Doe, has successfully registered
                                    on the platform.</p>
                                <small class="ct_fw_500">25-04-25 at 11:27</small>
                            </div>
                            <span class="ct_fw_700 ct_cursor_pointer">x</span>
                        </div>
                    </li>
                    <li>
                        <div class="d-flex justify-content-between " style="cursor: pointer;">
                            <div tabindex="0">
                                <!-- <h5 class="ct_fs_16 ct_fw_700 mb-1">New User Registered</h5> -->
                                <p class="mb-0 ct_fs_14">A new user, John Doe, has successfully registered
                                    on the platform.</p>
                                <small class="ct_fw_500">25-04-25 at 11:27</small>
                            </div>
                            <span class="ct_fw_700 ct_cursor_pointer">x</span>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
        <div class="ct_right_dropdown dropdown">
            <button id="dropdownMenuButton" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                <div class="d-flex align-items-center gap-2">
                    <img [src]="profileImg ? profileImg : 'assets/img/no_pro.png'" alt="" class="ct_img_50">
                    <div class="text-start">
                        <p class="mb-0 ct_fw_700 ct_overlay_text ct_w_100">{{first_name}}
                        </p>
                        <small class="ct_text_939393">{{userRole}}</small>
                    </div>
                </div>
                <i class="fa-solid fa-angle-down ms-auto"></i>
            </button>
            @if(userRole == 'Admin' || userRole == 'Sub Admin'){
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" routerLink="/admin/my-profile">My Profile</a></li>
                <li><a class="dropdown-item" routerLink="/admin/change-password">Change Password</a></li>
                <li><a class="dropdown-item" href="javascript:void(0)" data-bs-toggle="modal"
                        data-bs-target="#ct_logout_modal_post">Log Out</a></li>
            </ul>
            } @else if (userRole == 'Agent') {
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" routerLink="/agent/my-profile">My Profile</a></li>
                <li><a class="dropdown-item" routerLink="/agent/change-password">Change Password</a></li>
                <li><a class="dropdown-item" href="javascript:void(0)" data-bs-toggle="modal"
                        data-bs-target="#ct_logout_modal_post">Log Out</a></li>
            </ul>
            } @else if (userRole == 'Client') {
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" routerLink="/user/my-profile">My Profile</a></li>
                <li><a class="dropdown-item" routerLink="/user/change-password">Change Password</a></li>
                <li><a class="dropdown-item" href="javascript:void(0)" data-bs-toggle="modal"
                        data-bs-target="#ct_logout_modal_post">Log Out</a></li>
            </ul>
            }

        </div>
    </div>
</header>

<!--Log out Modal -->
<div class="modal fade" id="ct_logout_modal_post" tabindex="-1" aria-labelledby="ct_delete_postLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header pb-0 border-0">
                <button type="button" class="btn-close ct_close" data-bs-dismiss="modal" aria-label="Close"><i
                        class="fa-solid fa-xmark"></i></button>
            </div>
            <div class="modal-body">
                <div class="ct_delete_post_modal">
                    <figure>
                        <div class="ct_delete_post_icon text-center">
                            <svg width="48" height="48" viewBox="0 0 48 48" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_36_4091)">
                                    <path
                                        d="M24 0C10.7452 0 0 10.7452 0 24V24.036C0 37.2908 10.7092 48 23.964 48H24C37.2548 48 48 37.2908 48 24.036V24C48 10.7452 37.2908 0 24.036 0H24Z"
                                        fill="#282828" fill-opacity="0.1" />
                                    <path
                                        d="M15.6775 33.29H32.321C32.5913 33.29 32.857 33.2198 33.0921 33.0864C33.3272 32.9529 33.5236 32.7608 33.6622 32.5287C33.8008 32.2966 33.8768 32.0325 33.8828 31.7623C33.8889 31.492 33.8246 31.2248 33.6965 30.9868L25.3752 15.5327C24.7849 14.437 23.2136 14.437 22.6233 15.5327L14.302 30.9868C14.1738 31.2248 14.1096 31.492 14.1156 31.7623C14.1216 32.0325 14.1976 32.2966 14.3362 32.5287C14.4748 32.7608 14.6713 32.9529 14.9064 33.0864C15.1415 33.2198 15.4071 33.29 15.6775 33.29Z"
                                        stroke="black" stroke-width="1.25" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <path
                                        d="M23.7189 21.0405L23.9992 26.9976L24.279 21.043C24.2807 21.0049 24.2747 20.9669 24.2612 20.9312C24.2477 20.8956 24.2272 20.8631 24.2007 20.8357C24.1742 20.8082 24.1425 20.7865 24.1073 20.7718C24.0722 20.757 24.0344 20.7496 23.9963 20.75C23.9588 20.7504 23.9219 20.7582 23.8875 20.7731C23.8532 20.788 23.8221 20.8097 23.7963 20.8367C23.7704 20.8638 23.7503 20.8958 23.737 20.9308C23.7237 20.9658 23.7176 21.0031 23.7189 21.0405Z"
                                        stroke="black" stroke-width="1.25" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <path
                                        d="M24 30.8984C23.8069 30.8984 23.618 30.8412 23.4575 30.7339C23.2969 30.6266 23.1717 30.474 23.0978 30.2956C23.0239 30.1171 23.0045 29.9208 23.0422 29.7314C23.0799 29.5419 23.1729 29.3679 23.3095 29.2313C23.446 29.0948 23.62 29.0018 23.8095 28.9641C23.9989 28.9264 24.1953 28.9457 24.3737 29.0196C24.5522 29.0936 24.7047 29.2187 24.812 29.3793C24.9193 29.5399 24.9766 29.7287 24.9766 29.9219C24.9766 30.1809 24.8737 30.4293 24.6905 30.6124C24.5074 30.7956 24.259 30.8984 24 30.8984Z"
                                        fill="black" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_36_4091">
                                        <rect width="48" height="48" fill="white" />
                                    </clipPath>
                                </defs>
                            </svg>

                        </div>
                        <figcaption class="mt-4 text-center">
                            <h4 class="ct_fs_24 ct_fw_700">Log Out</h4>
                            <p class="mb-0">Are you sure you want to log out ?</p>
                        </figcaption>
                    </figure>
                    <div class="d-flex justify-content-center border-0 gap-3 ct_modal_footer mt-4">
                        <button type="button" class="ct_outline_btn  w-100 ct_fw_600 ct_border_radius_5"
                            data-bs-dismiss="modal">No</button>
                        <a (click)="logout()"
                            class="  ct_blue_btn ct_red_btn w-100 ct_border_radius_5 ct_fw_600 text-center">Yes</a>
                        <button hidden type="button" class="btn btn-secondary" #closeModal
                            data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>