<div class="ct_right_panel">
    <div class="ct_px_30 mt-4 pb-4">
        <div class="container-fluid">
            <div class="ct_inner_header_bg mt-4  mb-4 d-flex align-items-center gap-2">

                <h4 class="ct_fs_24 ct_fw_700 mb-0">Change Password</h4>

            </div>


            <div class="ct_white_bg">
                <div class="">
                    <form [formGroup]="form">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group mb-4">
                                    <label for="" class="mb-2 ct_fw_600">Old Password</label>
                                    <div class="position-relative">
                                        <input type="{{ isPasswordVisible1 ? 'text' : 'password' }}"
                                            placeholder="Enter Old Password"
                                            class="form-control ct_input ct_input_pe_40"
                                            formControlName="current_password">

                                        <i class="fa-regular ct_show_eye"
                                            [ngClass]="isPasswordVisible1 ? 'fa-eye' : 'fa-eye-slash' "
                                            (click)="togglePasswordVisibility1()"></i>

                                    </div>

                                    <div *ngIf="form.controls['current_password']?.invalid && form.controls['current_password'].touched"
                                        class="err_msg">
                                        <div *ngIf="form.controls['current_password'].errors?.['required']">Old
                                            password is
                                            required.
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group mb-4">
                                    <label for="" class="mb-2 ct_fw_600">New Password</label>
                                    <div class="position-relative">
                                        <input type="{{ isPasswordVisible2 ? 'text' : 'password' }}"
                                            placeholder="Enter New Password"
                                            class="form-control ct_input ct_input_pe_40" formControlName="new_password">
                                        <i class="fa-regular ct_show_eye"
                                            [ngClass]="isPasswordVisible2 ? 'fa-eye' : 'fa-eye-slash' "
                                            (click)="togglePasswordVisibility2()"></i>
                                    </div>

                                    <div class="err_msg"
                                        *ngIf="form.controls['new_password']?.invalid && form.controls['new_password']?.touched">

                                        <div
                                            *ngIf="form.controls['new_password'].errors?.['required']; else checkMinLength">
                                            New password is required.
                                        </div>

                                        <ng-template #checkMinLength>
                                            <div *ngIf="form.controls['new_password'].errors?.['minlength'];">
                                                New password must be at least 8 characters long.
                                            </div>
                                        </ng-template>

                                        <!-- <ng-template #checkPattern>
                                            <div *ngIf="form.controls['new_password'].errors?.['pattern']">
                                                New password must include at least 1 lowercase letter, 1 uppercase
                                                letter, 1
                                                number, and 1 special character.
                                            </div>
                                        </ng-template> -->

                                    </div>

                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group mb-4">
                                    <label for="" class="mb-2 ct_fw_600">Confirm Password</label>
                                    <div class="position-relative">
                                        <input type="{{ isPasswordVisible3 ? 'text' : 'password' }}"
                                            placeholder="Enter Confirm Password"
                                            class="form-control ct_input ct_input_pe_40"
                                            formControlName="confirm_password">
                                        <i class="fa-regular ct_show_eye"
                                            [ngClass]="isPasswordVisible3 ? 'fa-eye' : 'fa-eye-slash' "
                                            (click)="togglePasswordVisibility3()"></i>
                                    </div>

                                    <div *ngIf="form.controls['confirm_password']?.invalid && form.controls['confirm_password'].touched"
                                        class="err_msg">
                                        <div *ngIf="form.controls['confirm_password'].errors?.['required']">
                                            Confirm password is required.</div>
                                        <div
                                            *ngIf="passwordMismatch && !form.controls['confirm_password'].errors?.['required']">
                                            Passwords do not match.</div>
                                    </div>

                                </div>
                            </div>

                        </div>
                        <div class="d-flex justify-content-end gap-2 align-items-center mt-4">
                            <!-- <a class="ct_outline_btn ct_border_radius_5">Cancel</a> -->
                            <button class="ct_blue_btn ct_border_radius_5" (click)="submitForm()">Change
                                password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="ct_loader_main" *ngIf="loading">
    <div class="loader-1">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
    </div>
</div>