    <div class="ct_right_panel">
            <div class="ct_px_30 mt-4 pb-4">
                <div class="container-fluid">
                    <div class="ct_inner_header_bg mt-4  mb-4">
                        <h4 class="ct_fs_28 ct_fw_700 mb-0 ct_black_text">Dashboard</h4>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="ct_user_dash_card_bg">
                                <span class="text-white">INFINITE BANKING</span>
                                <h4 class="ct_fs_20 ct_fw_600 text-white mt-2 mb-0">Stay on Top of Your Financial
                                    Journey <br> with
                                    Smart Insights</h4>
                                <a  class="position-relative ct_compared_loan_btn">
                                    <button class="ct_fw_600">Calculate Loan</button>
                                    <span class="ct_blue_btn ct_show_eye" routerLink="/user/loan-calculator">+</span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="row ct_mt_30">
                        <div class="col-md-6 mb-4 mb-md-0">
                            <div class="ct_white_bg  h-100">
                                <div class="mb-4">
                                    <div class="d-flex align-items-center justify-content-between gap-2 flex-wrap">
                                        <h4 class="mb-0 ct_fs_24 ct_fw_700">Your Monthly Activity</h4>
                                        <!-- <a  class="ct_blue_link_underline ct_fw_600">View All</a> -->
                                        <select class="form-control ct_input ct_h_40 w-auto">
                                            <option value="">January</option>
                                            <option value="">January</option>
                                            <option value="">January</option>
                                        </select>

                                    </div>
                                    <p class="mb-0 ct_text_op_6">Shows no of cases created each month</p>
                                </div>

                                <div id="ct_bugget_summary"></div>




                            </div>

                        </div>
                        <div class="col-md-6  mb-4 mb-md-0">
                            <div class="ct_white_bg h-100">
                                <div class="mb-4">
                                    <div class="d-flex align-items-center justify-content-between gap-2 flex-wrap">
                                        <h4 class="mb-0 ct_fs_24 ct_fw_700">Your Case Breakdown</h4>
                                        <!-- <a  class="ct_blue_link_underline ct_fw_600">View All</a> -->
                                        <select class="form-control ct_input ct_h_40 w-auto">
                                            <option value="">January</option>
                                            <option value="">January</option>
                                            <option value="">January</option>
                                        </select>

                                    </div>
                                    <p class="mb-0 ct_text_op_6">Shows the distribution of your active cases by type</p>
                                </div>

                                <div id="ct_property_chart"></div>





                            </div>

                        </div>

                    </div>




                </div>
            </div>



        </div>