.ct_custom_badge {
  padding: 5px 18px;
  border-radius: 100px;
}

.ct_policy_list li {
  padding-bottom: 20px;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 20px;
}

.ct_policy_list li:last-child {
  border-bottom: 0px;
  border-bottom: 0px;
  margin-bottom: 0px;
}


.ct_light_blue_head_bg {
  background-color: #75abfe;
  padding: 10px;
  color: #fff;
  border-radius: 10px;
}

.ct_footer_report img {
  margin-bottom: 20px;
  width: 200px;
}

.ct_footer_report {
  background-color: var(--light_blue);
  padding: 40px 20px;
  border-radius: 20px;
}

.page {
  padding: 15px;
  /* add space inside page */
  box-sizing: border-box;
  page-break-after: always;
}

.page:last-child {
  page-break-after: auto;
}

.print-only {
  display: none;
}

.print-mode.print-only {
  display: block !important;
}

.et_light_blue_bg_card {
  background-color: #75abfe30;
  border-left: 4px solid #75abfe;
}

.ct_policy_list li {
  /* padding-bottom: 20px; */
  border-bottom: 1px solid #e6e6e6;
  /* margin-bottom: 20px; */
  background-color: #fff;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.ct_mt_5 {
  margin-top: 48px !important;
}

p {
  font-size: 18px;
}