<div class="ct_right_panel">
    <div class="ct_px_30 mt-4 pb-4">
        <div class="container-fluid">
            <div class="ct_inner_header_bg mt-4  mb-4 d-flex align-items-center gap-2">
                <!-- <a (click)="backClicked()" class="ct_back_icon me-2 text-dark">
                    <i class="fa-solid fa-chevron-left"></i>
                </a> -->
                <h4 class="ct_fs_24 ct_fw_700 mb-0">Loan Calculator</h4>
            </div>
            <form id="msform">
                <div class="row ct_row_reverse">
                    <div class="col-xl-9 mb-4 mb-xl-0">

                        <router-outlet></router-outlet>

                    </div>
                    <div class="col-xl-3 mb-4 mb-xl-0">
                        <app-case-wizard-steps></app-case-wizard-steps>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>