<fieldset class="ct_white_bg">
    <div class="ct_form-card">
        <h4 class="ct_fs_24 ct_fw_700 mb-0 ">Policies</h4>
        <p class="mb-4 ct_text_op_6">Please upload your policies </p>
        <form [formGroup]="form">
            <div formArrayName="policies">
                <ng-container *ngFor="let policy of policies.controls; let i = index">
                    <div *ngIf="apiPeopleData[i]?.people_type == 'adult'" [formGroupName]="i" class="row mt-3">
                        <div class="col-md-12">
                            <div class="ct_case_select_card p-4 pb-0">
                                <h4 class="mb-0 ct_fs_20 mb-4 ct_fw_700">
                                    Policy #{{ i + 1 }} - {{ apiPeopleData[i]?.first_name }}
                                </h4>
                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="form-group mb-4">
                                            <label class="mb-2 ct_fw_600">Minimum Recommended Life coverage</label>
                                            <div class="position-relative">
                                                <input formControlName="minimum_recommended_life_coverage" type="number"
                                                    class="form-control ct_input ct_input_ps_30" placeholder="0.00">
                                                <span class="ct_input_icon_left">$</span>
                                            </div>

                                            <div
                                                *ngIf="policy.get('minimum_recommended_life_coverage')?.touched && policy.get('minimum_recommended_life_coverage')?.invalid">
                                                <small class="text-danger">This field is required</small>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group mb-4">
                                            <label class="mb-2 ct_fw_600">Insurance Carrier</label>
                                            <div class="position-relative">
                                                <input formControlName="insurance_carrier" type="text"
                                                    class="form-control ct_input ct_input_ps_30"
                                                    placeholder="Insurance Carrier">
                                                <!-- <span class="ct_input_icon_left">$</span> -->
                                            </div>
                                            <div
                                                *ngIf="policy.get('insurance_carrier')?.touched && policy.get('insurance_carrier')?.invalid">
                                                <small class="text-danger">This field is required</small>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group mb-4">
                                            <label for="" class="mb-2 ct_fw_600">Policy Start Date</label>
                                            <input formControlName="policy_start_date" type="date" class="form-control"
                                                [attr.max]="minDate" />
                                            <div
                                                *ngIf="policy.get('policy_start_date')?.touched && policy.get('policy_start_date')?.invalid">
                                                <small class="text-danger">This field is required</small>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group mb-4">
                                            <label for="" class="mb-2 ct_fw_600">Actual Policy Start Date</label>
                                            <input formControlName="actual_policy_start_date" type="date"
                                                class="form-control" [attr.max]="minDate" />
                                            <div
                                                *ngIf="policy.get('actual_policy_start_date')?.touched && policy.get('actual_policy_start_date')?.invalid">
                                                <small class="text-danger">This field is required</small>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group mb-4">
                                            <label class="mb-2 ct_fw_600">Policy Intrest Rate %</label>
                                            <input type="number" formControlName="policy_interest_rate"
                                                class="form-control ct_input" placeholder="Policy Intrest Rate" />
                                            <div
                                                *ngIf="policy.get('policy_interest_rate')?.touched && policy.get('policy_interest_rate')?.invalid">
                                                <small class="text-danger">This field is required</small>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-md-6">
                                        <div class="form-group mb-4">
                                            <label class="mb-2 ct_fw_600">Upload CSV/XLS</label>
                                            <input type="file" (change)="onFileChange($event, i)"
                                                accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                                                class="form-control ct_input" />

                                            <div *ngIf="existingFileNames[i]" class="mt-1">
                                                <small class="text-success">Existing file: {{ existingFileNames[i]
                                                    }}</small>
                                            </div>

                                            <div *ngIf="submitted && !selectedFiles[i] && !existingFileNames[i]">
                                                <small class="text-danger">This field is required</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </form>
    </div>
    <div class="mt-3">
        <a type="button" name="next" class=" ct_blue_btn float-end ms-2 ct_border_radius_5" (click)="submit()">Save
            & Next</a>
        <button class="previous action-button-previou ct_outline_btn float-end ct_border_radius_5"
            routerLink="/user/loan-calculator/final-totals">Back</button>
    </div>

</fieldset>

<!-- <input type="file" (change)="onFileChange($event)" accept=".csv" /> -->