<fieldset class="ct_white_bg">
    <div class="ct_form-card">
        <div class="row ">
            <div class="col-md-12">
                <div class="ct_white_bg">
                    <div>
                        <h4 class="ct_fs_24 ct_fw_700 mb-0">Combined Policy Projections</h4>
          
                    </div>
                    <div
                        class="d-flex align-items-center justify-content-between gap-2 ct_flex_column_767 ct_w_100_767 py-4">
                        <div
                            class="d-flex align-items-center justify-content-between gap-2 ct_flex_column_767 ct_w_100_767 ">

                            <div class="d-flex align-items-center gap-2 ct_flex_column_767 ct_w_100_767">
                               
                            </div>
                        </div>
                        <div class="ct_w_100_767">
                            <button (click)="downloadCSV()" class="ct_blue_btn ct_btn_h_48 ct_white_nowrap ct_w_100_767">
                                <img src="assets/img/download_icon.png" alt="" class="me-1">
                                Export
                                CSV</button>
                        </div>
                    </div>
                    <div class="table-responsive ct_custom_table">
                        <table class="table ">
                            <thead>
                                <tr>
                                    <!-- <th>S.No</th> -->
                                    <th>Year | Age</th>
                                    <th>Base Premium
                                    </th>
                                    <th>EDO
                                    </th>
                                    <th>Total Premium
                                    </th>
                                    <th>Annual Increase
                                    </th>
                                    <th>Annual
                                        Increase
                                        in Total
                                        Cash Value
                                    </th>
                                    <th>Total
                                        Cash Value
                                    </th>
                                    <th class="text-end">Death Benefit
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    *ngFor="let item of combineData; let i = index">
                                    <!-- <td>{{(p - 1) * 10 + i + 1}}</td> -->
                                    <td>{{item.year}} | {{item.age}}</td>
                                    <td>${{item.total_guaranteed_premium}}</td>
                                    <td>${{item.total_deposit}}</td>
                                    <td>${{item.total_cash_premiums}}</td>
                                    <td>${{item.total_dividend}}</td>
                                    <td>${{item.total_cash_increase}}</td>
                                    <td>${{item.total_cash}}</td>
                                    <td class="text-end">${{item.total_death}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div *ngIf="combineData?.length == 0" class="text-center">
                        <p class="ct_fs_15 mt-5">No case found</p>
                    </div>
                    <!-- <pagination-controls class="ct_pagination_div" *ngIf="!(combineData?.length == 0)"
                        (pageChange)="p = $event"></pagination-controls> -->
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-end align-items-center gap-2 mt-4">
            <a class="ct_outline_btn ct_btn_h_48" routerLink="/user/loan-calculator/policies">Back</a>
            <a routerLink="/user/final-report" class="ct_blue_btn ct_btn_h_48">Save & Next</a>
        </div>
    </div>
</fieldset>