<div class="ct_right_panel">
    <div class="ct_px_30 mt-4 pb-4">
        <div class="container-fluid">
            <div class="ct_inner_header_bg mt-4  mb-4">
                <h4 class="ct_fs_28 ct_fw_700 mb-0 ct_black_text">Dashboard</h4>
            </div>
            <div class="row">
                <div class="col-xxl-4 col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-4 mb-xxl-0">
                    <div class="ct_dashboard_card">
                        <div>
                            <p class="ct_text_op_6">Total Clients</p>
                            <h3 class="ct_fs_28 ct_fw_700 mt-3 mb-0">12,458</h3>
                        </div>
                        <div class="ct_dash_icon">
                            <img src="../assets/img/user_icon.svg" alt="">
                        </div>


                    </div>

                </div>
                <div class="col-xxl-4 col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-4 mb-xxl-0">
                    <div class="ct_dashboard_card">
                        <div>
                            <p class="ct_text_op_6">Total Reports</p>
                            <h3 class="ct_fs_28 ct_fw_700 mt-3 mb-0">3,679</h3>
                        </div>
                        <div class="ct_dash_icon">
                            <img src="../assets/img/report_icon.svg" alt="">
                        </div>


                    </div>

                </div>
                <div class="col-xxl-4 col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-4 mb-xxl-0">
                    <div class="ct_dashboard_card">
                        <div>
                            <p class="ct_text_op_6">Total Sub Admins</p>
                            <h3 class="ct_fs_28 ct_fw_700 mt-3 mb-0">18</h3>
                        </div>
                        <div class="ct_dash_icon">
                            <img src="../assets/img/sub-admin_icon.svg" alt="">
                        </div>


                    </div>

                </div>

            </div>

            <div class="row ct_mt_30">
                <div class="col-md-12">
                    <div class="ct_white_bg">
                        <div class="d-flex align-items-center justify-content-between gap-2 flex-wrap mb-4">
                            <h4 class="mb-0 ct_fs_24 ct_fw_700">Reports Generated Over Time</h4>
                            <!-- <a href="#" class="ct_blue_link_underline ct_fw_600">View All</a> -->
                            <select class="form-control ct_input ct_h_40 w-auto">
                                <option value="">January</option>
                                <option value="">January</option>
                                <option value="">January</option>
                            </select>

                        </div>

                        <!-- <div id="chart"></div> -->

                        <div style="text-align:center">
                            <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart"
                                [xaxis]="chartOptions.xaxis" [title]="chartOptions.title"></apx-chart>
                        </div>

                    </div>

                </div>

            </div>

            <div class="row ct_mt_30">
                <div class="col-md-12">
                    <div class="ct_white_bg">
                        <div class="d-flex align-items-center justify-content-between gap-2 flex-wrap">
                            <h4 class="mb-0 ct_fs_24 ct_fw_700">Recently Generated Reports</h4>
                            <a href="#" class="ct_blue_link_underline ct_fw_600">View All</a>

                        </div>

                        <div class="table-responsive mt-4 ct_custom_table">
                            <table class="table ">
                                <thead>
                                    <tr>

                                        <th>S.No</th>
                                        <th>Report ID</th>
                                        <th>Case Name</th>
                                        <th>Client Name</th>
                                        <th>Agent Name</th>
                                        <th>Date Generated</th>
                                        <th class="text-end">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>

                                        <td>1</td>
                                        <td>RPT-1042</td>
                                        <td>
                                            <p class="mb-0 ct_overlay_text">IBC Financial Case </p>
                                        </td>
                                        <td>John Doe</td>
                                        <td>Cameron Williamson</td>
                                        <td>May 12, 2025</td>
                                        <td>
                                            <div class="d-flex align-items-center gap-3 justify-content-end">
                                                <a href="view-report.html"><i class="fa-regular fa-eye"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>

                                        <td>1</td>
                                        <td>RPT-1042</td>
                                        <td>
                                            <p class="mb-0 ct_overlay_text">IBC Financial Case </p>
                                        </td>
                                        <td>John Doe</td>
                                        <td>Cameron Williamson</td>
                                        <td>May 12, 2025</td>
                                        <td>
                                            <div class="d-flex align-items-center gap-3 justify-content-end">
                                                <a href="view-report.html"><i class="fa-regular fa-eye"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>

                                        <td>1</td>
                                        <td>RPT-1042</td>
                                        <td>
                                            <p class="mb-0 ct_overlay_text">IBC Financial Case </p>
                                        </td>
                                        <td>John Doe</td>
                                        <td>Cameron Williamson</td>
                                        <td>May 12, 2025</td>
                                        <td>
                                            <div class="d-flex align-items-center gap-3 justify-content-end">
                                                <a href="view-report.html"><i class="fa-regular fa-eye"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>