<section class="ct_login_bg">
    <div class="ct_login_overlay_images">
        <img src="assets/img/logn_overaly_1.png" alt="">
        <img src="assets/img/logn_overaly_2.png" alt="">
        <img src="assets/img/logn_overaly_3.png" alt="">
        <img src="assets/img/logn_overaly_4.png" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xxl-5 col-xl-6 col-lg-6 mx-auto">
                <div class="ct_login_form">
                    <div class="text-center">
                        <h4 class="ct_fs_32 ct_fw_700">Forgot Password</h4>
                        <p class="mb-0">Enter your email address and we’ll send you a link to reset your password.
                        </p>
                    </div>
                    <form [formGroup]="resetForm" class="ct_mt_30">
                        <div class="form-group mb-4">
                            <label for="" class="mb-2 ct_fw_600">Email Address</label>
                            <input type="email" placeholder="Enter Email Address" class="form-control ct_input"
                                formControlName="email">

                            <div *ngIf="resetForm.controls['email'].invalid && resetForm.controls['email'].touched"
                                class="err_msg">
                                <div *ngIf="resetForm.controls['email'].errors?.['required']">Email is required.
                                </div>
                                <div
                                    *ngIf="resetForm.controls['email'].errors?.['email'] && !resetForm.controls['email'].errors?.['required']">
                                    Invalid email format.
                                </div>
                            </div>

                        </div>
                        <div class="mt-5" (click)="onSubmit()">
                            <a class="ct_blue_btn w-100 ct_fw_600">
                                Submit
                            </a>
                        </div>

                        <p class="text-center mb-0 mt-3"> Already know your password? <a routerLink="/"
                                class="ct_blue_link ct_fw_600">Log In</a>
                        </p>

                    </form>

                </div>
            </div>
        </div>

    </div>

</section>

<div class="ct_loader_main" *ngIf="loading">
    <div class="loader-1">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
    </div>
</div>