<fieldset class="ct_white_bg">
    <div class="ct_form-card">
        <div class="form-group mb-4">
            <label for="" class="mb-2 ct_fw_600">Case Name</label>
            <input type="text" class="form-control ct_input" placeholder="Enter Case Name"
                [(ngModel)]="selectedCaseName">
        </div>

        @if(userRole == 'Client'){
        <div class="form-group mb-4">
            <label for="" class="mb-2 ct_fw_600">Full Name</label>
            <input type="text" class="form-control ct_input" placeholder="Enter Full Name"
                [(ngModel)]="selectedClientName">
        </div>
        }

        @if(userRole == 'Agent'){
        <!-- Agent Dropdown -->
        <div class="form-group mb-4">
            <label class="ct_fw_600 mb-2">Select Client:</label><br />
            <select name="agent" class="form-control ct_input" [(ngModel)]="selectedClientName"
                (change)="onAgentChange()">
                <option value="" disabled>Select an client</option>
                <option *ngFor="let agent of clientList" [value]="agent.name">
                    {{ agent.name }}
                </option>
            </select>
        </div>
        }


        <div class="form-group mb-4">
           
            <div class="ct_upload_product_main ct_upload_product_main_180">
                <svg width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M5.87174 22.0167C4.26376 20.9403 3.20508 19.1073 3.20508 17.027C3.20508 13.9023 5.59376 11.3354 8.64473 11.0528C9.26883 7.25653 12.5654 4.36035 16.5384 4.36035C20.5114 4.36035 23.808 7.25653 24.4321 11.0528C27.4831 11.3354 29.8717 13.9023 29.8717 17.027C29.8717 19.1073 28.8131 20.9403 27.2051 22.0167M11.2051 21.6937L16.5384 16.3604M16.5384 16.3604L21.8717 21.6937M16.5384 16.3604V28.3604"
                        stroke="#4880FF" stroke-width="2.66667" stroke-linecap="round" stroke-linejoin="round">
                    </path>
                </svg>
                <p class="text-center ct_fs_18 ct_text_op_07 mb-0">Upload your CSV here</p>
                <small>Supported formats: CSV</small>

                <!-- Select Case always shown -->
                <div *ngIf="!caseType" class="ct_browse_btn mt-3" data-bs-toggle="modal" data-bs-target="#select_case">
                    <span>Select Case</span>
                </div>

                <!-- Browse Files only appears after caseType -->
                <div *ngIf="caseType" class="ct_browse_btn mt-3" (click)="fileInput.click()">
                    <span>Browse Files</span>
                </div>

                <!-- Show selected file name -->
                <div *ngIf="selectedFile" class="mt-2 text-center">
                    <small class="ct_blue_text">{{ selectedFile.name }}</small>
                </div>

                <!-- hidden file input -->
                <input #fileInput type="file" class="d-none" accept=".csv" (change)="onFileSelected($event)">
            </div>


            <div class="ct_multiple_img_div ct_custom_scroll d-none">
                <div class="ct_uploaded_img123 position-relative ">
                    <div class="ct_uploaded_img_w">
                        <img src="assets/img/user_1.png" alt="">
                        <i class="fa-solid fa-xmark"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- routerLink="/user/loan-calculator/case-type" -->
    <button type="button" name="next" class="ct_form_next action-button ct_blue_btn float-end ms-2 ct_border_radius_5"
        (click)="next()">Manually</button>
    <label for="ct_manual_upload" class=" float-end" (click)="uploadCSVFile()">
        <span class=" ct_outline_btn ct_border_radius_5">Upload &
            Start</span>
    </label>
</fieldset>

<div class="ct_loader_main" *ngIf="loading">
    <div class="loader-1">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
    </div>
</div>





<!-- Invite Subadmin Modal S -->
<!-- Your modal -->
<div class="modal fade" id="select_case" tabindex="-1" aria-labelledby="invite_agentLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-0 pb-2">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body border-0 pt-0">
                <h4 class="ct_fs_20 ct_fw_700 mb-1">Select Case Type</h4>
                <form class="ct_mt_30">
                    <div class="d-flex align-items-center gap-2 ct_w_100_767">
                        <select class="form-control ct_input ct_w_100_767" [(ngModel)]="caseType" name="caseType">
                            <option value='' disabled>Select</option>
                            <option value="1">Mortgage</option>
                            <option value="2">Mortgage + HELOC</option>
                            <option value="3">Property, No Mortgage</option>
                            <option value="4">No Property</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer border-0 pt-0 pb-4">
                <button type="button" class="ct_outline_btn ct_btn_w_162" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="ct_blue_btn ct_btn_w_162" data-bs-dismiss="modal">Submit</button>
            </div>
        </div>
    </div>
</div>