<fieldset class="ct_white_bg">
    <div class="ct_form-card">
        <h4 class="ct_fs_24 ct_fw_700 mb-4">Totals</h4>
        <div class="row">
            <div class="col-md-6 mb-4">
                <div class="ct_case_select_card">
                    <div>
                        <p class="mb-1 ct_text_939393 ct_text_op_6">Total Income</p>
                        <h4 class="ct_fs_20 ct_fw_700 mb-0">${{totalCalculations?.total_income}}</h4>
                    </div>
                </div>

            </div>
            <div class="col-md-6 mb-4">
                <div class="ct_case_select_card ">
                    <div>
                        <p class="mb-1 ct_text_939393 ct_text_op_6">Total Investments
                        </p>
                        <h4 class="ct_fs_20 ct_fw_700 mb-0">${{totalCalculations?.total_investment}}</h4>
                    </div>
                </div>


            </div>
            <div class="col-md-6 mb-4">
                <div class="ct_case_select_card ">
                    <div>
                        <p class="mb-1 ct_text_939393 ct_text_op_6">Total Expenses
                        </p>
                        <h4 class="ct_fs_20 ct_fw_700 mb-0">${{totalCalculations?.total_expense}}</h4>
                    </div>
                </div>

            </div>
            <div class="col-md-6 mb-4">
                <div class="ct_case_select_card ">
                    <div>
                        <p class="mb-1 ct_text_939393 ct_text_op_6">Preliminary Surplus
                        </p>
                        <h4 class="ct_fs_20 ct_fw_700 mb-0">${{totalCalculations?.preliminary_surplus}}</h4>
                    </div>
                </div>

            </div>
            <!-- <div class="col-md-6 mb-4">
                <div class="ct_case_select_card ">
                    <div>
                        <p class="mb-1 ct_text_939393 ct_text_op_6">Expense Reductions
                        </p>
                        <h4 class="ct_fs_20 ct_fw_700 mb-0">${{totalCalculations?.expense_reduction}}</h4>
                    </div>
                </div>

            </div>
            <div class="col-md-6 mb-4">
                <div class="ct_case_select_card ">
                    <div>
                        <p class="mb-1 ct_text_939393 ct_text_op_6">Final Surplus
                        </p>
                        <h4 class="ct_fs_20 ct_fw_700 mb-0">${{totalCalculations?.final_surplus}}</h4>
                    </div>
                </div>
            </div> -->
        </div>

        <!-- <div class="row mb-4">
            <div class="col-md-12">
                <div class="ct_case_select_card py-4">
                    <h4 class="ct_fs_20 ct_fw_700 mb-3">Expense & Investment Reductions
                    </h4>
                    <div class="form-group mb-0">
                        <label for="" class="mb-2 ct_fw_600">Monthly Expenses</label>
                        <input type="range" class="custom-range" min="0" max="100" value="25">
                        <span class="ct_text_op_07 d-block text-end">50%</span>
                    </div>
                    <div class="form-group mb-0">
                        <label for="" class="mb-2 ct_fw_600">Investment
                            Allocation</label>
                        <input type="range" class="custom-range" min="0" max="100" value="25">
                        <span class="ct_text_op_07 d-block text-end">50%</span>
                    </div>
                </div>
            </div>
        </div> -->

    </div>
    <button type="button" name="next" (click)="submit()"
        class="ct_form_next action-button ct_blue_btn float-end ms-2 ct_border_radius_5">Save
        & Next</button>
    <button type="button" name="previous" routerLink="/user/loan-calculator/monthly-expenses"
        class="previous action-button-previou ct_outline_btn float-end ct_border_radius_5">Back</button>
</fieldset>

<div class="ct_loader_main" *ngIf="loading">
    <div class="loader-1">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
    </div>
</div>